<script>
     var time = new Date().getTime();

     function refresh() {
         if(new Date().getTime() - time >= 15000) {
             window.location.reload(true);
         }
         setTimeout(refresh, 15000);
     }
     setTimeout(refresh, 15000);
</script>

<table style="width:100%">

<tr>
	<td style = "width:10%">Queue Number</td>
	<td style = "width:70%">Matric Number</td>
    <td style = "width:10%"></td>
    <td style = "width:10%"></td>
</tr>
{% for e in pending %}
<tr>
	<td>{{ e.0 }}</td>
	<td>{{ e.1 }}</td>
    <td><a href="./CALL/{{ e.0 }}">Call</a></td>
    <td><a href="./DELETE/{{ e.0 }}" onClick="return confirm('Are you sure want to delete?');">Delete</a></td>
</tr>
{% endfor %}
</table>
<hr>
<table style="width:100%">

<tr>
	<td style = "width:10%">Queue Number</td>
	<td style = "width:20%">Matric Number</td>
    <td style = "width:25%">Comment</td>
    <td style = "width:25%">Score</td>
    <td style = "width:10%"></td>
    <td style = "width:10%"></td>
</tr>
{% for w in finished %}
<tr>
	<td>{{ w.0 }}</td>
	<td>{{ w.1 }}</td>
	<td>{{ w.2 }}</td>
	<td>{{ w.3 }}</td>
    <td><a href="./CALL/{{ w.0 }}">Call</a></td>
    <td><a href="./DELETE/{{ w.0 }}" onClick="return confirm('Are you sure want to delete?');">Delete</a>
</tr>
{% endfor %}
</table>